@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #040421;
  --yellow-color: #ffdb27;
  --yel-secondary: #fff8d6;
  --gray-primary: #575467;
  --gray-secondary: #e0e0f5;
  background-color: var(--yellow-color);
}

/* use this class for hide scrollbar on element */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safara, Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  /* background-color: #f7fafc; */
  background-color: #ffff;
  color: var(--primary);
  scrollbar-color: var(--yellow-color);
}

/* style scrollbar */
body::-webkit-scrollbar {
  width: 8px;
  overflow: scroll;
}

body::-webkit-scrollbar-track {
  background: #ffff;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 20px;
}

.no-scroll {
  overflow: hidden;
}

/* animation for stacks cards container */
@keyframes scroll {
  0% {
    transform: translateY(0);
    background: #ffff;
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scrolling {
  animation: scroll 120s linear infinite;
}

.fade-stacks-cards {
  background: radial-gradient(circle, transparent 90%, #ffff 100%);
}

/* animation pour le radius des bordures sur les socials links */
.trans-border-radius {
  border-radius: 100%;
  transition: border-radius 0.3s ease-in-out;
}

.trans-border-radius:hover {
  border-radius: 25%;
}

#magnetic_btn {
  background: linear-gradient(
    var(--gray-primary),
    var(--gray-primary) 50%,
    var(--yellow-color) 50%,
    var(--yellow-color)
  );
  background-size: 100% 200%;
  transition: background 0.3s;
  color: #ffff;
}

#magnetic_btn:hover {
  background-position: 100% 100%;
  color: var(--primary);
}

#cv_btn {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: '';
    flex: 1;
  }
}

.line {
  align-items: center;

  &:before,
  &:after {
    height: 0.8px;
  }
}

.one-line {
  &:before,
  &:after {
    background: var(--primary);
  }
}
