@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffdb27;
}

body {
  background-color: #ffff;

  --sb-track-color: #040421;
  --sb-thumb-color: #ffdb27;
  --sb-size: 4px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}
